In [1]:
import pandas as pd
import numpy as np

import pandas_profiling as pp
from pandas_profiling import ProfileReport


# reading two csv files
data1 = pd.read_csv('data/train.csv', dtype={'Store':'string'})
data2 = pd.read_csv('data/store.csv', dtype={'Store':'string', 'StoreType':'string', 'Assortment':'string'})

# using merge function by setting how='inner'
total = pd.merge(data1, data2,
                   on='Store',
                   how='inner')
print(data1.dtypes)

print(data2.dtypes)

/home/eero/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Date              object
Store             string
DayOfWeek        float64
Sales            float64
Customers        float64
Open             float64
Promo            float64
StateHoliday      object
SchoolHoliday    float64
dtype: object
Store                         string
StoreType                     string
Assortment                    string
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [2]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637774 entries, 0 to 637773
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           637774 non-null  object
 1   Store          618473 non-null  string
 2   DayOfWeek      618757 non-null  float64
 3   Sales          618747 non-null  float64
 4   Customers      618683 non-null  float64
 5   Open           618588 non-null  float64
 6   Promo          618580 non-null  float64
 7   StateHoliday   618520 non-null  object
 8   SchoolHoliday  618437 non-null  float64
dtypes: float64(6), object(2), string(1)
memory usage: 43.8+ MB

In [3]:
from datetime import datetime 
from datetime import date 

## Create a new column that is a real date.
## For a time series we need real dates.
total['sales_date'] = pd.to_datetime(total['Date'])
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618473 entries, 0 to 618472
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date                       618473 non-null  object
 1   Store                      618473 non-null  string
 2   DayOfWeek                  600036 non-null  float64
 3   Sales                      600028 non-null  float64
 4   Customers                  599957 non-null  float64
 5   Open                       599832 non-null  float64
 6   Promo                      599791 non-null  float64
 7   StateHoliday               599873 non-null  object
 8   SchoolHoliday              599686 non-null  float64
 9   StoreType                  618473 non-null  string
 10  Assortment                 618473 non-null  string
 11  CompetitionDistance        616838 non-null  float64
 12  CompetitionOpenSinceMonth  422043 non-null  float64
 13  CompetitionOpenSinceYear   422043 non-null  float64
 14  Promo2                     618473 non-null  int64
 15  Promo2SinceWeek            314828 non-null  float64
 16  Promo2SinceYear            314828 non-null  float64
 17  PromoInterval              314828 non-null  object
 18  sales_date                 618473 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(1), object(3), string(3)
memory usage: 94.4+ MB

In [4]:

#Create a date out of the Promo2 variables so that we can create a time-series variable for Promo2
    
total['temp_date'] = total['Promo2SinceYear'] * 1000 + total['Promo2SinceWeek']  * 10 + 0
total['promo2_start_date'] = pd.to_datetime(total['temp_date'], format='%Y%W%w')
total = total.drop(columns=['temp_date'])
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618473 entries, 0 to 618472
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date                       618473 non-null  object
 1   Store                      618473 non-null  string
 2   DayOfWeek                  600036 non-null  float64
 3   Sales                      600028 non-null  float64
 4   Customers                  599957 non-null  float64
 5   Open                       599832 non-null  float64
 6   Promo                      599791 non-null  float64
 7   StateHoliday               599873 non-null  object
 8   SchoolHoliday              599686 non-null  float64
 9   StoreType                  618473 non-null  string
 10  Assortment                 618473 non-null  string
 11  CompetitionDistance        616838 non-null  float64
 12  CompetitionOpenSinceMonth  422043 non-null  float64
 13  CompetitionOpenSinceYear   422043 non-null  float64
 14  Promo2                     618473 non-null  int64
 15  Promo2SinceWeek            314828 non-null  float64
 16  Promo2SinceYear            314828 non-null  float64
 17  PromoInterval              314828 non-null  object
 18  sales_date                 618473 non-null  datetime64[ns]
 19  promo2_start_date          314828 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(11), int64(1), object(3), string(3)
memory usage: 99.1+ MB

In [7]:
       
## Create an array to Group the data by group. and make dummy Store by Store
for Store, grouped in total.groupby('Store'):
   if [total['Promo2'] == 0]:
      total['Promo2_yes'] = 0
   elif  [total['Promo2_start_date'].isnull()]:
      total['Promo2_yes'] = 0
   elif [(total['sales_date'] >= total['Promo2_start_date'])]:
      total['Promo2_yes'] = 1
   else:
      total['Promo2_yes'] = 0

total.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,sales_date,promo2_start_date,Promo2_yes
0,2013-01-01,1115,2.0,0.0,0.0,0.0,0.0,a,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-01,2012-06-03,0
1,2013-01-02,1115,3.0,3697.0,305.0,1.0,0.0,0,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-02,2012-06-03,0
2,2013-01-03,1115,4.0,4297.0,300.0,1.0,0.0,0,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-03,2012-06-03,0
3,2013-01-04,1115,5.0,4540.0,326.0,1.0,0.0,0,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-04,2012-06-03,0
4,2013-01-05,1115,6.0,4771.0,339.0,1.0,0.0,0,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-05,2012-06-03,0

In [6]:
print(total.groupby('Promo2').mean(total['Promo2']))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [8]:
def create_a_timeseries_dummy_from_weeks(df, var_week, var_year, date_new, var_dummy):
    #Create a date out of the Promo2 variables so that we can create a time-series variable for Promo2
    df['temp_date'] = df[var_year] * 1000 + df[var_week]  * 10 + 0
    df[date_new] = pd.to_datetime(df['temp_date'], format='%Y%W%w')
    ## Create an array to Group the data by group. and make dummy Store by Store
    for Store, grouped in df.groupby('Store'):
      if [df['sales_date'] >= df[date_new]]:
        df[var_dummy] = 1
      else:
        df[var_dummy] = 0
    df = df.drop(columns=['temp_date'])
    df.head()

    
def create_a_timeseries_dummy_from_months(df, var_month, var_year, date_new, var_dummy):
    #Create a date out of the Competition variables so that we can create a time-series variable for Competitioin
    df['temp_date'] = df[var_year] * 1000 + df[var_month]  * 10 + 0
    ## Create an array to Group the data by group. and make dummy Store by Store
    df[date_new] = pd.to_datetime(df['temp_date'], format='%Y%m%w')
    for Store, grouped in df.groupby('Store'):
      if [df['sales_date'] >= df[date_new]]:
        df[var_dummy] = 1
      else:
        df[var_dummy] = 0
    df = df.drop(columns=['temp_date'])    
    df.head()

In [9]:
total.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,sales_date,promo2_start_date,Promo2_yes
0,2013-01-01,1115,2.0,0.0,0.0,0.0,0.0,a,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-01,2012-06-03,0
1,2013-01-02,1115,3.0,3697.0,305.0,1.0,0.0,0,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-02,2012-06-03,0
2,2013-01-03,1115,4.0,4297.0,300.0,1.0,0.0,0,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-03,2012-06-03,0
3,2013-01-04,1115,5.0,4540.0,326.0,1.0,0.0,0,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-04,2012-06-03,0
4,2013-01-05,1115,6.0,4771.0,339.0,1.0,0.0,0,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-05,2012-06-03,0

In [10]:
create_a_timeseries_dummy_from_weeks(df=total,
                                     var_week='Promo2SinceWeek'  ,
                                     var_year='Promo2SinceYear'  ,
                          date_new='Promo2_start_date'          ,
                          var_dummy='Promo2_yes'
                                    )

In [13]:
create_a_timeseries_dummy_from_months(df=total   ,
                          var_month='CompetitionOpenSinceMonth'  ,
                          var_year='CompetitionOpenSinceYear'   ,
                          date_new='Competition_start_date'    ,
                          var_dummy='Competition_yes'
                                    )

In [83]:
total.head()

,Date,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,sales_date,Promo2_date,temp_date,date_new,Promo2_start_date
0,2013-01-01,1115,2.0,0.0,0.0,0.0,a,1.0,d,c,...,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-01,2012-06-03,2012220.0,2012-06-03,2012-06-03
1,2013-01-02,1115,3.0,3697.0,1.0,0.0,0,1.0,d,c,...,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-02,2012-06-03,2012220.0,2012-06-03,2012-06-03
2,2013-01-03,1115,4.0,4297.0,1.0,0.0,0,1.0,d,c,...,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-03,2012-06-03,2012220.0,2012-06-03,2012-06-03
3,2013-01-04,1115,5.0,4540.0,1.0,0.0,0,1.0,d,c,...,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-04,2012-06-03,2012220.0,2012-06-03,2012-06-03
4,2013-01-05,1115,6.0,4771.0,1.0,0.0,0,1.0,d,c,...,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-05,2012-06-03,2012220.0,2012-06-03,2012-06-03

In [88]:
create_a_timeseries_dummy_from_months(df=total                  ,
                          var_month='CompetitionOpenSinceYear'  ,
                          var_year='CompetitionOpenSinceMonth'  ,
                          date_new='Competition_start_date',
                          var_dummy='Competition_yes')

NameError: name 'temp_date' is not defined

In [ ]:
  ## Create an array to Group the data by group. and make dummy Store by Store
    for Store, grouped in df.groupby('Store'):
      if temp_date.isnull():
        df.var_dummy = 0
      elif df.sales_date >= df.date_new:
        df.var_dummy = 1
      else:
        df.var_dummy = 0

,Date,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,sales_date,Promo2_date
0,2013-01-01,1115,2.0,0.0,0.0,0.0,a,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-01,2012-06-03
1,2013-01-02,1115,3.0,3697.0,1.0,0.0,0,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-02,2012-06-03
2,2013-01-03,1115,4.0,4297.0,1.0,0.0,0,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-03,2012-06-03
3,2013-01-04,1115,5.0,4540.0,1.0,0.0,0,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-04,2012-06-03
4,2013-01-05,1115,6.0,4771.0,1.0,0.0,0,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013-01-05,2012-06-03

In [100]:
total.Promo2.value_counts()
total.Promo2_date.info

AttributeError: 'DataFrame' object has no attribute 'Promo2_date'

In [54]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618473 entries, 0 to 618472
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date                       618473 non-null  object
 1   Store                      618473 non-null  string
 2   DayOfWeek                  600036 non-null  float64
 3   Sales                      600028 non-null  float64
 4   Open                       599832 non-null  float64
 5   Promo                      599791 non-null  float64
 6   StateHoliday               599873 non-null  object
 7   SchoolHoliday              599686 non-null  float64
 8   StoreType                  618473 non-null  string
 9   Assortment                 618473 non-null  string
 10  CompetitionDistance        616838 non-null  float64
 11  CompetitionOpenSinceMonth  422043 non-null  float64
 12  CompetitionOpenSinceYear   422043 non-null  float64
 13  Promo2                     618473 non-null  int64
 14  Promo2SinceWeek            314828 non-null  float64
 15  Promo2SinceYear            314828 non-null  float64
 16  PromoInterval              314828 non-null  object
 17  sales_date                 618473 non-null  datetime64[ns]
 18  Promo2_date                314828 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(10), int64(1), object(3), string(3)
memory usage: 94.4+ MB

In [55]:

## Create an array to Group the data by group.
for Store, grouped in total.groupby('Store'):
  if Promo2_date.isnull():
    total.Promo = 0
  elif total.sales_date >= total.Promo2_date:
    total.Promo2 = 1
  else:
    total.Promo = 0

NameError: name 'Promo2_date' is not defined

In [52]:
report = ProfileReport(data1, infer_dtypes=True) 
report.to_html.write_html('prof_report.html')

AttributeError: 'function' object has no attribute 'write_html'

In [29]:
data1["date"].apply(lambda x: x if isinstance(x,datetime.datetime) else np.nan).fillna(method = "ffill")

KeyError: 'date'